* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  color: #6b7c93;
  letter-spacing: 0.5px;
  line-height: 1.5;
}

h3, h4 {
  color: #32325d;
  font-size: 1.9rem;
}

h4 {
  margin-bottom: 1rem;
}

section {
  margin-top: 4rem;
  border-top: 2px solid #f6f9fc;
}

.container:first-of-type .col-3, .container:first-of-type .col-9 {
  display: flex;
  align-items: center;
}

.container:first-of-type .row, .container:nth-of-type(2) .row {
  padding-bottom: 0;
}

.container-highlight {
  background-color:#f6f9fc;
}

.payment-container {
  max-width: 104rem;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 5rem 0;
}

.col-3 {
  width: 24%;
  display: flex;
  align-items: center;
  position: relative;
}

.col-6 {
  width: 48%;
}

.col-9 {
  width: 73%;
}

ul.features {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 1.5rem;
}

ul.features li {
  flex-basis: 33.333%;
  max-width: 33.333%;
  line-height: 2;
}

.iconContainer {
  display: flex;
  justify-content: flex-end;
  padding-right: 3rem;
  align-items: center;
}

.payment-title {
  font-size: 2rem;
  display: inline-block;
}

#payment-title {
  padding-left: 1rem;
}

.price {
  padding-left: 40%;
}

.price-col::after {
  position: absolute;
  display: block;
  content: "";
  border-left: 1px solid rgba(52,21,112,.075);
  height: 100%;
  left: 20%;
}

.price-highlight {
  color: #24b47e;
  font-size: 2.4rem;
}

.price-highlight.hasCap {
  font-size: 1.7rem;
  display: block;
}

.price-description {
  font-size: 1.4rem;
}

.space {
  display: block;
  padding-top: 1em;
}

.capText {
  color: #919fae;
  font-size: 1.2rem;
  display: block;
}

.col-image {
  margin-top: 1.8rem;
}

.commonLink {
  color: #6772e5;
  text-decoration: none;
}

.common-Link-arrow:after {
  content: '\2192';
  padding-left: 5px;
}
