/* General page styles */

body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* The setup of the card container */


/* The header */


/* The footer */


/* The main business card contents */
