html {
  font-size: 10px;
}

p {
  margin: 0;
}

body {
  font-family: 'Spectral', serif;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #DBE2EC;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.column {
  line-height: 1.5;
  color: #5D656F;
  background-color: #F8F9FA;
  height: 57.6rem;
  width: 32.4rem;
  padding: 3rem;
  margin: 9rem 4rem 4rem 4rem;
  box-shadow: 0 0 4rem #a8aeb7;
  font-size: 1.8rem;
  position: relative;
  overflow: auto;
}

.column:nth-of-type(1) {
  background: url(http://res.cloudinary.com/ddylgzvo9/image/upload/v1500426218/manbag_w5mggn.jpg) no-repeat;
  background-size: 100% 100%;
  font-family: 'Alegreya Sans', sans-serif;
  color: #f4f6f9;
}

.column:last-of-type {
  background-color: white;
}

.author {
  padding-top: 20rem;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.cover {
  margin-top: 1rem;
  line-height: 1.1;
  text-transform: uppercase;
  width: 30%;
  font-size: 4rem;
}

.slider {
  font-family: 'Spectral', sans-serif;
  font-weight: bold;
  color: #2C3137;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  font-size: 1.4rem;
  background: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.slider div {
  box-sizing: border-box;
  width: 33.33%;
}

.slider div:first-child {
  padding-left: 3rem;
}

.slider .pager {
  text-align: center;
  font-size: 4rem;
  margin-top: -1.5rem;
  color: #DBE2EC;
}

.slider .pager .selected {
  color: #2C3137;
}

.slider div:last-child {
  padding-left: 2rem;
}

.para {
  margin-bottom: 3rem;
}

.para:nth-of-type(1)::first-letter {
  color: #2C3137;
  font-size: 5em;
  line-height: 0.9;
  float: left;
  margin-right: 1.2rem;
}

.column input[type="button"] {
    font-family: 'Alegreya Sans', sans-serif;
    text-transform: uppercase;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    margin: 2rem 0;
    cursor: pointer;
}

.commentSection {
  font-size: 1.5rem;  
}

.commentHeader {
  font-family: 'Spectral', sans-serif;
  font-weight: bold;
  color: #2C3137;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  font-size: 1.4rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.commentHeader div {
  box-sizing: border-box;
  width: 33.33%;
}

.commentHeader div:first-child {
  padding-left: 3rem;
}

.commentHeader div:last-child {
  text-align: right;
  padding-right: 3rem;
}

.commentSection {
  margin-top: 5rem;
}

.commentComponent {
  display: flex;
  margin-bottom: 2.5rem;
}

.userImage {
  flex: 1;
}

.userInfo {
  flex: 3;
}

.lighten {
  color: #c5cbd4;
}

.userImage img {
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem; 
}
