html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #DBE2EC;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10rem;
}

.column {
  flex: 1;
  background-color: #F8F9FA;
  padding: 3rem;
  margin: 5rem;
  height: 48rem;
  box-shadow: 0 0 4rem #a8aeb7;
}
