* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
  margin: 0 auto;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding-right: 5rem;
}

.hero {
  width: 100%;
  height: 62rem;
  padding: 0;
  background-image: url("https://www.paypalobjects.com/digitalassets/c/website/marketing/na/us/home/apr-2017/hero-cookoo-clock-creative-cookied-and-uncookied.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

nav {
  border-bottom: 1px solid rgba(255,255,255,.3);
  height: 7rem;
}

.navContainer {
  margin: 0 auto;
  width: 80%;
  padding-top: 2rem;
  display: flex;
}

.logo {
  width: 28%;
}

.menu {
  width:50%;
}

.logo-icon-nav {
  display: inline-block;
  background: url("https://www.paypalobjects.com/webstatic/i/logo/rebrand/ppcom-white.svg") no-repeat top center;
  background-size: contain;
  width: 136px;
  height: 43px;
}

.buttons a {
  display: inline-block;
  border: 1px solid white;
  border-radius: 2.5rem;
  text-align: center;
  width: 10rem;
  height: 4rem;
  line-height: 3.5rem;
  transform: translateY(-20%);
  margin-left: 1rem;
}

.sel-button {
  background-color: white;
  color: #2c2e2f;
}

.submenu:after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: relative;
  top: -0.4rem;
  left: 1rem;
  border: 1px solid #FFFFFF;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  transform: rotate(45deg);
}
