* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  margin: 0 auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 2rem;
  background-color: #F4F4F4;
}

main {
  margin: 10rem auto;
  background-color: white;
  box-shadow: 0 0 4rem rgba(0, 0, 0, 0.3);
  width: 35rem;
  height: 60rem;
  color: gray;
  padding: 4rem;
}

.searchBar, #searchIcon {
  font-size: 3rem;
}

#searchIcon {
  float: right;
  transform: rotate(305deg);
  font-size: 4rem;
  line-height: 1;
}
