* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-color: #F3F3FD;
  font-size: 1.8rem;
  font-weight: 700;
}

.container {
  margin: 10rem auto;
  width: 50rem;
  height: 89rem;
  box-shadow: 0 0 4rem #a8aeb7;
}

header {
  height: 21rem;
  background: linear-gradient(to right, rgba(100,80,131,0.7), rgba(71, 67, 114,0.9)),
              url(http://res.cloudinary.com/ddylgzvo9/image/upload/c_scale,w_500/v1500511449/pexels-photo_dtx3ub.jpg) no-repeat;
  position: relative;
}

img {
  float: left;
  max-height: 5rem;
  max-width: 4rem;
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  opacity: 0.4;
}

input:checked {
  opacity: 0.8;
}

.title {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 2rem;
  color: white;
  font-size: 3rem;
}

.day {
  color: #9CA6BA;
  margin: 2rem;
  margin-top: 5rem;
  text-transform: uppercase;
}

.taskContainer {
  display: flex;
  align-items: center;
  color: #595A8A;
  letter-spacing: 1.5px;
}

.checkbox {
  padding-left: 2rem;
  width: 15%;
  padding-bottom: 2rem;
}

.task {
  width: 95%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #e9eaec;
  padding-bottom: 2rem;
}

.task-image {
  width: 10%;
}

.task-description {
  width: 75%;
  padding-left: 1rem;
}

.star {
  width: 15%;
}

.star-checked img {
  filter: contrast(0) sepia(100%) hue-rotate(90deg);
  width: 3.5rem;
}

.star-checked img {
  filter: contrast(0) sepia(100%) hue-rotate(90deg);
  width: 3.5rem;
}
.star-unchecked::before {
  content: '☆';
  font-size: 5rem;
}

.completed {
  color: #9CA6BA;
}

.completed .checkbox  {
  visibility: hidden;
}

.completed .task-image  {
  display: none;
  
}

.completed .task-description {
  width: 85%;
  text-decoration: line-through;
}
